In [11]:
import pandas as pd 
from pandas import DataFrame

df1 = pd.read_excel('2013-14_T1.xls')
df2 = pd.read_excel('2013-14_T2.xls')
df3 = pd.read_excel('2014-15_T1.xls')
df4 = pd.read_excel('2014-15_T2.xls')
df5 = pd.read_excel('2015-16_T1.xls')
df6 = pd.read_excel('2015-16_T2.xls')
df7 = pd.read_excel('2016-17_T1.xls')
df8 = pd.read_excel('2016-17_T2.xls')
df9 = pd.read_excel('2017-18_T1.xls')
df10 = pd.read_excel('2017-18_T2.xls')
df11 = pd.read_excel('2018-19_T1.xls')
df12 = pd.read_excel('2018-19_T2.xls')

In [16]:
df1.columns=['Term','Session','Bidding Window','Course Code','Description','Section','Vacancy','Opening Vacancy','Before Process Vacancy','D.I.C.E','After Process Vacancy','Enrolled Students','Max Bid','Median Bid','Min Bid','Instructor','School/Department']
df1 = df1.drop([0])
df1.head(2)

,Term,Session,Bidding Window,Course Code,Description,Section,Vacancy,Opening Vacancy,Before Process Vacancy,D.I.C.E,After Process Vacancy,Enrolled Students,Max Bid,Median Bid,Min Bid,Instructor,School/Department
1,2013-14 Term 1,Regular Academic Session,Round 2A Window 3,ACCT101,Financial Accounting,G1,45,45,1,0,1,44,0,0,0,CHUNG SUNG GON,SOA
2,2013-14 Term 1,Regular Academic Session,Round 2A Window 3,ACCT101,Financial Accounting,G10,45,45,6,0,6,39,0,0,0,LEE JOON HO,SOA

In [17]:
frames = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

In [18]:
result = pd.concat(frames)

In [19]:
result.head(2)

,Term,Session,Bidding Window,Course Code,Description,Section,Vacancy,Opening Vacancy,Before Process Vacancy,D.I.C.E,After Process Vacancy,Enrolled Students,Max Bid,Median Bid,Min Bid,Instructor,School/Department
1,2013-14 Term 1,Regular Academic Session,Round 2A Window 3,ACCT101,Financial Accounting,G1,45,45,1,0,1,44,0,0,0,CHUNG SUNG GON,SOA
2,2013-14 Term 1,Regular Academic Session,Round 2A Window 3,ACCT101,Financial Accounting,G10,45,45,6,0,6,39,0,0,0,LEE JOON HO,SOA

In [22]:
is_esr = result['Description'] == 'Ethics and Social Responsibility'
esr= result[is_esr]
esr.head(3)

,Term,Session,Bidding Window,Course Code,Description,Section,Vacancy,Opening Vacancy,Before Process Vacancy,D.I.C.E,After Process Vacancy,Enrolled Students,Max Bid,Median Bid,Min Bid,Instructor,School/Department
516,2013-14 Term 1,Regular Academic Session,Round 2A Window 3,LGST001,Ethics and Social Responsibility,G1,45,45,0,0,0,45,0,0,0,AUSTIN CRAIG PULLE,SOL
517,2013-14 Term 1,Regular Academic Session,Round 2A Window 3,LGST001,Ethics and Social Responsibility,G10,45,45,2,0,2,43,0,0,0,IAN MACDUFF,SOL
518,2013-14 Term 1,Regular Academic Session,Round 2A Window 3,LGST001,Ethics and Social Responsibility,G11,45,45,0,0,0,45,0,0,0,BASIL BITAS,SOL